<div>
    <h1 style="color: white;" >
        Cadastro de Vacinas COVID-19
    </h1>
    <p style="color: white;"  >
        Este é um sistema para cadastro de vacinação contra a COVID-19.
        <br />
        É simples, rapido e seguro.
    </p>
</div>