<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <%- include('../components/Header/index') %>
  </header>
  <section class="container" >
    <%- include('../components/Card/index'); %>
  </section>
</body>

</html>