<form action="/login" method="POST" class="card-container" >
    <% if (message) { %>
        <div class="alert-register" >
            <%= message %> 
        </div>
    <% } %>
    <h1>Login de Usuário</h1>
    <div class="divider" ></div>
    <%- 
        include('../../components/Input/index',
            {
                label: 'CPF:',
                name: 'cpf',
                type: "text",
                mask: '$$$.$$$.$$$-$$',
                error: 'CPF é obrigatório !!'
            }
        )
    %> 
    <%- 
        include('../../components/Input/index',
            {
                label: 'Senha:',
                name: 'password',
                type: "password",
                mask: null,
                error: 'A senha obrigatório, a mesma enviada para seu email !!'
            }
        )
    %>
    <div class="divider" ></div>

    <button type="submit" class="button-meed" >ENTRAR</button>

    <div class="divider" ></div>

    <button type="button" class="button-meed" >
        <a href="/register">CADASTRAR</a>
    </button>
</form>
<script>
    
    window.addEventListener('load', () => {
        if ("<%= message %>"){
            window.history.pushState({}, null, '/login')
            setTimeout(() => {
                document.getElementsByClassName('alert-register')[0].className = "alert-register hidden"
            }, 6000)
        }
    })
</script>