<div class="container-home" >
    <div class="card-container" >
        <h1>Login</h1>
        <div class="divider" ></div>
            
        <button type="button" class="button-meed" >
            <a href="/login">LOGAR</a>
        </button>
    </div>
    <div class="card-container" >
        <h1>Registar</h1>
        <div class="divider" ></div>    
        <button type="button" class="button-meed" >
            <a href="/register">CADASTRAR</a>
        </button>
    </div>
</div>