<!DOCTYPE html>
<html>

<head>
  <title>
    Cadastro de Pacientes
  </title>
  <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
  <header>
    <%- include('../components/Header/index', {text: 'Cadastro de Vacinas COVID-19'}) %>
  </header>
  <section class="container" >
    <%- include('../components/CardRegister/index'); %>
  </section>
  <footer>
    <%- include('../components/Footer/index') %>
  </footer>
</body>
</html>